---
layout: default
---

<div class="jumbotron mt-4">
	<h1 class="display-3">{{ site.title }}</h1>
	<p class="lead">{{ site.description}}</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="/promises/" role="button">공약 보기</a>
	</p>
</div>
<h2>개요</h2>
<div class="row">
	{% for vision in site.data.visions %}
	<div class="col-6">
		<div class="card bg-light p-4 my-4">
			<h2>{{ vision.id }}. {{ vision.title }}</h2>
			<hr>
			<ul class="list-unstyled">
			{% for promise in site.data.promises %}
				{% if promise.vision == vision.id %}
				<li>
					<div id="secondary-{{ promise.id }}" data-children=".item">
					  <div class="item">
					    <a data-toggle="collapse" data-parent="#secondary-{{ promise.id }}" href="#secondary-{{ promise.id }}-children" aria-expanded="true" aria-controls="exampleAccordion1">
					      <h3>{{ promise.title }}</h3>
					    </a>
					    <div id="secondary-{{ promise.id }}-children" class="collapse show mb-3" role="tabpanel">
					    	<ul class="list-unstyled">
					    	{% for category in site.data.categories %}
					    		{% if category.promise == promise.id %}
					    		<li>{{ category.title }}</li>
					    		{% endif %}
					    	{% endfor %}
					    	</ul>
					    </div>
					  </div>
					</div>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>
