---
layout: default
---

<div class="jumbotron mt-4">
	<h1 class="display-3">{{ site.title }}</h1>
	<p class="lead">{{ site.description}}</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="{{ '/promises/' | relative_url }}" role="button">공약 보기</a>
	</p>
</div>

<h1>공약 보기!</h1>

{% for item in site.data.items %}
<div class="row bg-light" style="border-bottom: 1px solid #ccc;">
	<div class="col-2">
		{% assign index = item.sub-category | minus: 1 %}
		{% assign sub-category = site.data.sub-categories[index] %}
		{% assign category_index = sub-category.category | minus: 1 %}
		{% assign category = site.data.categories[category_index] %}
		<span class="badge badge-info m-4">
			{{ category.title }}
		</span>
	</div>
	<div class="col-10">
		<div class="p-3">
			<h4>{{ item.title }} <span class="badge badge-pill badge-warning">{{ item.verifiability }}</span></h4>
			{% if item.description %}<p>{{ item.description | markdownify }}</p>{% endif %}
		</div>
	</div>
</div>
{% endfor %}